<!DOCTYPE html>
<html>
<head>
  <title>Blurg</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
<nav>
  <%= link_to "Home", root_path %>
  <%= link_to "About", about_path %>
  <%= link_to "Contact", contact_path %>

  <% if @current_user.present? %>
    Hi <%= @current_user.username %>.
    <%= link_to "Sign Out?", sign_out_path, method: :delete %>
  <% end %>

</nav>

<% if alert %>
  <div class="alert"><%= alert %></div>
<% end %>

<% if notice %>
  <div class="notice"><%= notice %></div>
<% end %>


<%= yield %>

</div>

</body>
</html>
